<div class="bg-wrapper">
  <img class="homeLogo" src="./../../img/homeCnoteLogo.svg" alt="logo">

<div class="cloud-bg">

  <!-- <img class='cloud-bg' src="./img/bg.png" alt="cloud bg"> -->
  <img class='cloud-img' src="./img/bg.png" alt="cloud bg">

</div>
</div>
<nav class="sand">
<h5><a ui-sref="compose">compose</a></h5>
<h5><a ui-sref="reader({id: readerParam})">reader</a></h5>
<h5><a ui-sref="home">home</a></h5>
</nav>
<div class="andy nav2">
<input class="search-1" type="text" placeholder="search" ng-model="readerParam">
</div>
<img src="./../../img/c-noteLogo.svg" alt="logo">


<!-- <div class="search-container">
  <input class="search-1" placeholder="input param" ng-model="readerParam">
</div> -->
